
body{
    background-color: black;
}
#biggestContainer{
display: flex;
justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    padding: 10px ;
   
}
.containAll{
    border-style: solid;
    padding: 10px;
    background-color: black;  
    max-width: 600px; 
    min-width: 600px;
    border: thick solid red;
    border-radius: 45px;
    padding: 12px;
    box-shadow: 0px 0px 15px 10px rgb(250, 70, 139);
  
}
.grid-container {
    display: flex;   
}

.griditem {
    aspect-ratio: 1/1;
    display: flex;
    border-style: solid;
   flex:1; 
   border-radius: 100px;
}

.buttons {
    display: flex;
    justify-content: center;
}

 #clear {
    background-color: rgb(232, 66, 132);
    font-weight: bold;
    border-radius: 20px;
    color: white;

}

.size-select {
    display: flex;
    flex-direction: column;
    color: white;
    box-shadow: 0px 0px 10px 0px rgb(232, 66, 132);
    border-radius: 10px;
    padding: 10px;
    margin: 40px;
    gap: 5px;

}
.options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button-tittle {
    display: flex;
    justify-content: center;
}


